.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media(max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
  }

  @media(max-width: 650px) {
    row-gap: 0;
  }
}

.player__info {
  display: flex;
  align-items: stretch;
  column-gap: 42px;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 200px;
    padding-top: 20px;
    border-top: 1px solid var(--primary);

    font-family: var(--font-sofia);

    strong {
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin-bottom: 6px;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 900;
    }
  }

  @media(max-width: 1024px) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 32px;
  }

  @media(max-width: 1024px) {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 0;
  }

  @media(max-width: 650px) {
    display: grid;
    grid-template-columns: auto 100px;
    width: 100%;

    div {
      width: auto;
      padding-top: 16px;
  
      strong {
        margin-bottom: 0;
      }

      h3 {
        font-size: 1rem;
        line-height: 1.115rem;
      }
    }
  }
}

.player__gallery {
  display: flex;
  
  width: 100%;
  max-width: 720px;

  .image {
    width: 350px;
    height: 216px;
    border-radius: 2px;
    
    position: relative;

    img {
      width: 350px;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
    }

    span {
      display: flex;
      align-items: center;
      column-gap: 10px;

      position: absolute;
      bottom: 10px;
      left: 10px;

      color: var(--primary);
      font-size: 1.125rem;
      line-height: 1.125rem;
      font-weight: 900;
      font-family: var(--font-sofia);

      padding: 2px 12px;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:after {
        content: '';
        width: 40px;
        height: 1px;
        margin-bottom: 3px;

        background: var(--primary);
      }
    }
  }

  div:nth-child(2), div:nth-child(1) {
    width: 44px;
    border-radius: 50%;
    background: var(--primary);

    &:after {
      font-size: 1rem;
      color: var(--black);
    }
  }

  @media(max-width: 1400px) {
    max-width: 520px;

    .image {
      width: 250px;
      height: 150px;
  
      img {
        width: 250px;
      }
    }

    > div:nth-child(2), > div:nth-child(1) {
      width: 32px;
      height: 32px;

      &:after {
        font-size: 0.5rem;
      }
    }
  }

  @media(max-width: 650px) {
    visibility: hidden;
    display: none;
  }

}