.container {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  svg {
    position: absolute;
    top: 0;
    left: 400px;
    right: 0;
    margin: 0 auto;

    opacity: 0.3;
  }

  span {
    z-index: 2;
  }
}